@model MyWebsite.ViewModels.ThreadViewModel

@{
    ViewBag.Title = "Newest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12">

            @Html.Partial("_ThreadList")

        </div>
    </div>
</div>