body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.navbar-picture {
    background: url(http://i1070.photobucket.com/albums/u499/quakerknight/tracyton_sunset_1900px_zpsv8bgydfk.jpg) no-repeat;
    background-size: 1950px 250px;
    height: 120px;
    margin: 5px;
    width: 1900px;
}

.custom-navbar {
    background-color: transparent;
    height: 20px;
    margin-top: -50px;
    width: 1950px;
}

.wide {
    height: 125px;
    width: 850px;
}

div.thread-creation {
    color: lightgrey;
    font-size: 11px;
    margin-top: -12px;
    padding-bottom: 10px;
    padding-left: 65px;
}

div.thread-creation-viewthread {
    color: lightgrey;
    font-size: 11px;
    margin-top: -8px;
    padding-bottom: 10px;
}

div.tweaks { width: 55%; }