@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href=@Url.Action("ViewUserPage", "User", new {creatorId = User.Identity.GetUserName()})>Hello, @User.Identity.Name !</a>
        </li>
        <li>
            <a href=@Url.Action("Logout", "Authentication")>Log off</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Authentication", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Authentication", null, new {id = "loginLink"})</li>
    </ul>
}